*,
*:before,
*:after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page-body {
  display: flex;
  /* Прижимаем footer к низу страницы*/
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25rem;
  height: 100%;
  color: #ae7c78;
  background-color: #ffffff;
  margin: 0;
}
.page-main {
  flex-grow: 1;
  /* Прижимаем footer к низу страницы */
  flex-shrink: 0;
  flex-basis: auto;
}
.wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 7.5rem;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), url("../../fonts/Montserrat-Regular.woff2"), url("../../fonts/Montserrat-Regular.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), url("../../fonts/Montserrat-Medium.woff2"), url("../../fonts/Montserrat-Medium.woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Playfair Display"), url("../../fonts/PlayfairDisplay-Regular.woff2"), url("../../fonts/PlayfairDisplay-Regular.woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Playfair Display"), url("../../fonts/PlayfairDisplay-Italic.woff2"), url("../../fonts/PlayfairDisplay-Italic.woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Playfair Display"), url("../../fonts/PlayfairDisplay-Bold.woff2"), url("../../fonts/PlayfairDisplay-Bold.woff");
}
.button {
  cursor: pointer;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  background-color: #d89999;
  padding: 1.9rem 4.4rem;
  border-radius: 2.5rem;
}
.button:hover {
  background-color: #ce7878;
}
.button:focus {
  background-color: #d56161;
  box-shadow: 0 0.25rem 2.5rem rgba(217, 217, 217, 0.3);
}
.header {
  border-top: 1px solid #ae7c78;
  margin-top: 1.6rem;
  border-bottom: 1px solid #ae7c78;
  margin-bottom: 5.06rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-nav__logo {
  cursor: pointer;
  order: 1;
}
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation--left .user-navigation__item {
  margin-right: 6.3rem;
}
.user-navigation--left .user-navigation__item:last-child {
  margin-right: 0;
}
.user-navigation--right {
  order: 2;
}
.user-navigation--right .user-navigation__item {
  margin-right: 5.5rem;
}
.user-navigation--right .user-navigation__item:last-child {
  margin-right: 0;
}
.user-navigation__link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #6f2626;
}
.user-navigation__link:active {
  color: #6f2626;
}
.site-navigation {
  order: 3;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation__link {
  color: inherit;
  text-decoration: none;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #6f2626;
}
.site-navigation__link:active {
  color: #6f2626;
}
.intro__block {
  position: relative;
  width: 24rem;
  margin-bottom: 3rem;
  padding-bottom: 10.6rem;
}
.intro__block::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/intro-example-bouquet-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 24rem;
  height: 25rem;
  border-radius: 0.6rem;
  top: 3.1rem;
  left: 25.4rem;
}
.intro__block::after {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/intro-example-bouquet-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 24rem;
  height: 26.2rem;
  border-radius: 0.6rem;
  left: 50.6rem;
  top: 0;
}
.intro__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3.7rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.intro__title--italic {
  font-style: italic;
}
.intro__description {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.85rem;
  margin-bottom: 4rem;
}
.advantage__list-item {
  margin-bottom: 2.5rem;
}
.advantage__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2.5rem;
}
.list-item--delivery {
  position: relative;
  padding-left: 6.37rem;
}
.list-item--delivery::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 5rem;
  height: 3.25rem;
  top: 0;
  left: 0.12rem;
}
.list-item--freshness {
  position: relative;
  padding-left: 4.5rem;
}
.list-item--freshness::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/freshness.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 3.25rem;
  height: 3.25rem;
  top: 0;
  left: 0.12rem;
}
.list-item--photo {
  position: relative;
  padding-left: 4.9rem;
}
.list-item--photo::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/selfie.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 3.6rem;
  height: 3.25rem;
  top: 0;
  left: 0.12rem;
}
.advantage__list-item .list-item__title {
  width: 17.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.advantage__list-item .list-item__description {
  width: 17.8rem;
  margin: 0;
}
.slider__list-item {
  display: flex;
}
.slider__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  margin-bottom: 2.7rem;
}
.slider__container {
  margin: 0 12.7rem;
  overflow: hidden;
}
.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 1.25rem;
  list-style: none;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider__info {
  width: 24.2rem;
  margin-right: 1.25rem;
}
.slider__list-item .list-item__title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1.25rem;
}
.slider__list-item .list-item__size {
  margin: 0;
  margin-bottom: 1.5rem;
}
.slider__list-item .list-item__description {
  margin-bottom: 1.5rem;
}
.slider__list-item .list-item__price {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4rem;
}
.slider__image {
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
}
.slider__controls {
  text-align: center;
  padding-bottom: 5rem;
}
.slider__controls-btn {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 3.2rem;
  height: 1.1rem;
  vertical-align: top;
}
.slider__controls--back {
  margin-right: 1.25rem;
}
.slider__controls--back::after {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/arrow-back.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 3.2rem;
  height: 1.1rem;
  bottom: 0;
  left: 0;
}
.slider__controls--back:hover {
  animation: slider__controls--back 1s linear infinite;
}
@keyframes slider__controls--back {
  0% {
    right: 0;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}
.slider__controls--back:focus {
  animation: slider__controls--back 1s linear infinite;
}
@keyframes slider__controls--back {
  0% {
    right: 0;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}
.slider__controls--forward::after {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/arrow-forward.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 3.2rem;
  height: 1.1rem;
  bottom: 0;
  left: 0;
}
.slider__controls--forward:hover {
  animation: slider__controls--forward 1s linear infinite;
}
@keyframes slider__controls--forward {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
.slider__controls--forward:focus {
  animation: slider__controls--forward 1s linear infinite;
}
@keyframes slider__controls--forward {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.18rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 3.75rem;
}
.catalog__list .list-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  color: #ffffff;
  background-color: rgba(174, 124, 120, 0.6);
  text-decoration: none;
  transition: 0.2s;
}
.catalog__list .list-item__link:hover {
  background-color: transparent;
  color: transparent;
}
.catalog__list .list-item__link:focus {
  background-color: transparent;
  color: transparent;
}
.catalog__list-item {
  min-height: 27.6rem;
  margin-bottom: 1.25rem;
}
.catalog__list-item:nth-child(3) {
  margin-right: 0;
}
.list-item--wedding-bouquets {
  background-image: url("../../../img/decorative-images/wedding-bouquets.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.list-item--bouquets-with-peonies {
  background-image: url("../../../img/decorative-images/bouquets-with-peonies.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.list-item--choose-a-bouquet {
  background-image: url("../../../img/decorative-images/choose-a-bouquet.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.catalog__list .list-item__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}
.catalog__list-item .list-item__description {
  text-align: center;
}
.discount__info {
  position: relative;
  background-color: #ae7c78;
  color: #ffffff;
  margin-bottom: 5rem;
}
.discount__info::after {
  content: "";
  position: absolute;
  background-image: url("../../../img/decorative-images/discount-image.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 36.8rem;
  height: 24.4rem;
  top: 0;
  right: 0;
}
.discount__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 2.75rem;
  line-height: 3.7rem;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 6.3rem;
  width: 30.5rem;
}
.discount__description {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0;
  padding-left: 6.3rem;
  padding-bottom: 4rem;
  width: 30.5rem;
}
.info__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  margin-bottom: 2.25rem;
}
.info__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
  list-style: none;
}
.info__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem;
  margin-bottom: 1.8rem;
  width: 17.8rem;
}
.info__list-item:last-child {
  margin-right: 0;
}
.info__list .list-item__title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
}
.info__list .list-item__image {
  margin-bottom: 0.5rem;
  order: -1;
}
.info__list .list-item__description {
  text-align: center;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__button {
  fill: #d77c7c;
}
.social__button:hover,
.social__button:focus {
  fill: #b33838;
}
.social__button:active {
  fill: #721b1b;
}
.news__list-photo {
  display: grid;
  grid-template-columns: 17.8rem 24.2rem;
  grid-template-rows: 13.75rem 13.75rem;
  grid-gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__list .list-item__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 2.5rem;
}
.news__list .list-item__description {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
}
.social-item {
  margin-right: 1.25rem;
}
.social-item:last-child {
  margin-right: 0;
}
.news__columns {
  display: grid;
  grid-template-columns: 24.2rem 43.25rem;
  grid-column-gap: 7.5rem;
  padding-bottom: 5rem;
}
.list-photo__item--big {
  grid-column: 2/3;
  grid-row: 1/-1;
}
.reviews__border {
  border: 1px solid #ae7c78;
  margin-bottom: 5rem;
}
.reviews__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  margin-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.reviews__block {
  display: grid;
  padding: 0 2.75rem 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6.5rem;
}
.reviews__example {
  text-align: center;
  margin: 0;
  margin-bottom: 2.5rem;
}
.reviews__text {
  margin: 0;
  margin-bottom: 1rem;
}
.reviews__author {
  font-style: normal;
  font-weight: 500;
}
.contact {
  position: relative;
}
.contact__wrapper {
  padding-top: 3.25rem;
  padding-bottom: 4.5rem;
  background: #f7fafc;
  box-shadow: 0 0.25rem 2.5rem rgba(217, 217, 217, 0.3);
  border-radius: 0.75rem;
}
.contact__block {
  width: 24rem;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.contact__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2.6rem;
  padding-top: 2.5rem;
  padding-left: 2.2rem;
  padding-right: 7.2rem;
}
.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2.2rem;
  padding-right: 7.2rem;
}
.address__title {
  margin: 0;
  margin-bottom: 1.3rem;
}
.address__location {
  display: block;
  font-weight: 500;
  color: #ae7c78;
  text-decoration: none;
  margin-bottom: 2rem;
}
.address__location:hover,
.address__location:focus {
  color: #c15959;
}
.schedule__title {
  margin: 0;
  margin-bottom: 0.85rem;
}
.schedule__time {
  font-weight: 500;
  margin: 0;
  margin-bottom: 1.85rem;
}
.phone__title {
  margin: 0;
  margin-bottom: 0.85rem;
}
.phone__number {
  display: block;
  font-weight: 500;
  color: #ae7c78;
  text-decoration: none;
  margin-bottom: 2.15rem;
}
.phone__number:hover,
.phone__number:focus {
  color: #c15959;
}
.mail__title {
  margin: 0;
  margin-bottom: 1.06rem;
}
.mail__address {
  display: block;
  font-weight: 500;
  color: #ae7c78;
  text-decoration: none;
  padding-bottom: 4rem;
}
.mail__address:hover,
.mail__address:focus {
  color: #c15959;
}
.contact__map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.footer {
  background-color: #ae7c78;
  color: #ffffff;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.footer__list {
  list-style: none;
  margin: 0%;
  padding: 0;
}
.footer__list .user-navigation__item {
  margin-right: 4.25rem;
}
.footer__list .user-navigation__item:last-child {
  margin-right: 0;
}
